//Блок 5

.main__block-5 {
    margin: 7.03125vw 0 7.8125vw 0;
    position: relative;
}

.block-5__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
    padding-top: 3.28125vw;
    padding-bottom: 3.28125vw;

    padding-left: 6.40625vw;
    
    background: $grd-bg-bl-5-9-wr;

    width: 100%;    
}

.block-5__pictures {
    position: absolute;

    right: 2.60417vw;
    bottom: -4px;


    @media screen and (max-width: 1280px) {
        display: none;
    }

    .pictures__img {
        width: 36.25vw;
    }
}


.block-5 {
    height: 29.32292vw;
    width: 100%;
    display: flex;
    
    &__title {
        font-size: 2.5vw;
        line-height: 3.02083vw;
    
        font-family: $font-stack-1;
        font-weight: bold;
        color: $color-title;
        // @extend %title;
        //Почему-то эта строчка в style.css компилиреутся сверху под
        // @charset "UTF-8";

        width: 58.85417vw;
    }

    &__text {
        font-family: $font-stack-2;
        font-weight: normal;

        font-size: 1.25vw;
        line-height: 130.49%;

        color: $color-almost-black;

        width: 27.760417vw;
    }

    &__phone-link {
        color: #0079ff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    
    &__approval {
        font-family: $font-stack-2;
        font-weight: normal;

        font-size: 0.9375vw;
        line-height: 130.49%;
        
        color: $color-gray;

        &-link {
            color: $color-gray;
            text-decoration: underline;
        }
    }
}



//Форма

.form {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    justify-content: space-between;

    width: 45.3125rem;
    // width: 580px;
}

.form__input {
    background: $clr-bg-bl-5-9-input;

    height: 4.4375rem;
    
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.6875rem;
    border: 2px solid $clr-bg-bl-5-9-input;
    border-radius: 5px;

    color: $color-almost-black;
    font-family: $font-stack-2;
    font-weight: normal;
    font-size: 1.5rem;
}

.form__input:focus {
    outline: none;
    border: 2px solid $color-accent;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px $color-accent;
}

.form__input::placeholder {
    transition: 0.5s;
    color: $color-light-gray;
    font-family: $font-stack-2;
    font-weight: normal;
    font-size: 1.5rem;
}

.form__input:focus::placeholder { 
    font-size: 1.125rem; /* Размер шрифта */
    transform: translateY(-1.25rem); /* Сдвигаем подсказку вверх */
}

.form__input:focus:invalid {
    border: 2px solid #ffb493;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #ffb493;
}

.form__button {
    cursor: pointer;

    background: $color-accent;
    color: #ffffff;
    border: none;
    border-radius: 5px;

    height: 4.4375rem;

    padding: 1.25rem 2.125rem;

    font-family: $font-stack-2;
    font-weight: bold;

    font-size: 1.5rem;
    line-height: 130.49%;
}



//Блок 9

.main__block-9 {
    margin: 7.03125vw 0 0 0;
    position: relative;
}

.block-9__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
    padding-top: 3.28125vw;
    padding-bottom: 3.28125vw;

    padding-left: 6.40625vw;
    
    background: $grd-bg-bl-5-9-wr;

    width: 100%;    
}

.block-9__pictures {
    position: absolute;

    right: 2.60417vw;
    bottom: -4px;

    @media screen and (max-width: 1280px) {
        display: none;
    }

    .pictures__img {
        width: 36.25vw;
    }
}

.block-9 {
    height: 29.32292vw;
    width: 100%;
    display: flex;
    
    &__title {
        font-size: 2.5vw;
        line-height: 3.02083vw;
    
        font-family: $font-stack-1;
        font-weight: bold;
        color: $color-title;
        // @extend %title;

        width: 52.1875vw;
    }

    &__text {
        font-family: $font-stack-2;
        font-weight: normal;

        font-size: 1.25vw;
        line-height: 130.49%;

        color: $color-almost-black;

        width: 31.25vw;
    }

    &__phone-link {
        color: #0079ff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    
    &__approval {
        font-family: $font-stack-2;
        font-weight: normal;

        font-size: 0.9375vw;
        line-height: 130.49%;
        
        color: $color-gray;

        &-link {
            color: $color-gray;
            text-decoration: underline;
        }
    }
}