.header {
    display: grid;
    grid-template-columns: 10% 10% 30% 10% 20% 8% 10%;
    grid-template-rows: 15vh;
    justify-content: start;
    align-items: center;
    margin: auto;
    border: 1px solid black;
}

.header_social {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 5px 5px;
}

.social__socials {
    margin-right: 2px;
    padding: 8px 10px;
}

.header__nav {
    display: flex;
    flex-flow: row wrap;
    column-gap: 1vw;
}

.nav__link {
    text-decoration: none;
    color: #AAAAAA;
}

.nav__link:hover {
    color: #01678A;
}

.logo__img {
    margin-right: 70px;
}

.header__address {
    display: inline-flex;
    align-items: center;
}

.address__icon-location {
    margin-right: 2px;
    width: 14px;
}

.header__icon-calendar {
    margin-right: 2px;
    width: 18px;
}

.header__work-schedule {
    display: inline-flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 22px;
    align-items: baseline;
}

.header__work-schedule p {
    padding: 1rem;
    margin-bottom: 1rem;
    margin-bottom: 1rem;
    width: 150px;

}

.header__time-text {
    margin-bottom: 1rem;
    width: 106px;

}

.header__calendar-day-text {
    margin-left: -55px;
    width: 39px;

    color: #909090;
}

.header__icon-calendar {
    margin-right: 2px;
    width: 14px;

}

.header__phone {
    display: inline-flex;
    align-items: center;
    margin-left: -50px;
    margin-right: 22px;
    align-items: baseline;
}

.header__phone-link {
    list-style: none;
    text-decoration: none;
    color: #3C3C3C;
}

.header__icon-phone {
    margin-right: 10px;
    width: 12px;
    height: 12px;
}

.header__button {
    width: 10vw;
    height: 5vh;
    border: none;
    color: #fff;
    background: #38bcea;
}