//Переменные для шрифтов
$font-stack-1: Lato, sans-serif;
$font-stack-2: Arimo, sans-serif;
$font-stack-3: Roboto, sans-serif;

//Переменные цветов для текста
$color-accent: #38bcea;
$color-title: #12354b;
$color-light-gray: #b2b2b2;
$color-gray: #737373;
$color-dark-gray: #414141;
$color-almost-black: #262626;