//Переменные для шрифтов
$font-stack-1: Lato, sans-serif;
$font-stack-2: Arimo, sans-serif;
$font-stack-3: Roboto, sans-serif;

//Переменные цветов для текста
$color-accent: #38bcea;
$color-title: #12354b;
$color-light-gray: #b2b2b2;
$color-gray: #737373;
$color-dark-gray: #414141;
$color-almost-black: #262626;

//Цвета для фонов
$clr-bg-bl-4-6: #fbfbfb;
$clr-bg-bl-6-item: #f9f9f9;
$clr-bg-bl-5-9-input: #fefefe;
$clr-bg-bl-10: #f2f3f5;


//Градиенты для фонов
$grd-bg-bl-5-9-wr: linear-gradient(84.27deg, #E6F2FF 0%, #FAF1ED 100%);
$grd-bg-bl-7-crd: linear-gradient(255.02deg, #F7F8FA -0.59%, #EFF0F4 100%);

//Шаблоны для текстов
%title {
    font-family: $font-stack-1;
    font-weight: bold;
    color: $color-title;
}