@charset "UTF-8";
@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"), url(../assets/fonts/Lato-Regular.woff2) format("woff2"), url(../assets/fonts/Lato-Regular.woff) format("woff"), url(../assets/fonts/Lato-Regular.ttf) format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"), url(../assets/fonts/Lato-Bold.ttf) format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Arimo";
  src: local("Arimo Regular"), local("Arimo-Regular"), url(../assets/fonts/Arimo-Regular.woff2) format("woff2"), url(../assets/fonts/Arimo-Regular.woff) format("woff"), url(../assets/fonts/Arimo-Regular.ttf) format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Arimo";
  src: local("Arimo Bold"), local("Arimo-Bold"), url(../assets/fonts/Arimo-Bold.woff2) format("woff2"), url(../assets/fonts/Arimo-Bold.woff) format("woff"), url(../assets/fonts/Arimo-Bold.ttf) format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), local("Roboto-Regular"), url(../assets/fonts/Roboto-Regular.woff2) format("woff2"), url(../assets/fonts/Roboto-Regular.woff) format("woff"), url(../assets/fonts/Roboto-Regular.ttf) format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), local("Roboto-Light"), url(../assets/fonts/Roboto-Light.woff2) format("woff2"), url(../assets/fonts/Roboto-Light.woff) format("woff"), url(../assets/fonts/Roboto-Light.ttf) format("ttf");
  font-weight: 300;
}
.main__block-5 {
  margin: 135px 0 150px 0;
  position: relative;
}

.block-5__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 123px;
  background: linear-gradient(84.27deg, #E6F2FF 0%, #FAF1ED 100%);
  width: 100%;
}

.block-5__pictures {
  position: absolute;
  right: 50px;
  bottom: -4px;
}
@media screen and (max-width: 1759px) {
  .block-5__pictures {
    display: none;
  }
}

.block-5 {
  height: 563px;
  width: 100%;
  display: flex;
}
.block-5__title {
  font-size: 48px;
  line-height: 58px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  color: #12354b;
  width: 1130px;
}
.block-5__text {
  font-family: Arimo, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 130.49%;
  /* or 31px */
  color: #262626;
  width: 533px;
}
.block-5__phone-link {
  color: #0079ff;
  text-decoration: none;
}
.block-5__phone-link:hover {
  text-decoration: underline;
}
.block-5__approval {
  font-family: Arimo, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 130.49%;
  /* or 23px */
  color: #737373;
}
.block-5__approval-link {
  color: #737373;
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  width: 725px;
}

.form__input {
  background: #fefefe;
  height: 71px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 27px;
  border: 2px solid #fefefe;
  border-radius: 5px;
  color: #262626;
  font-family: Arimo, sans-serif;
  font-weight: normal;
  font-size: 24px;
}

.form__input:focus {
  outline: none;
  border: 2px solid #38bcea;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px #38bcea;
}

.form__input::-moz-placeholder {
  -moz-transition: 0.5s;
  transition: 0.5s;
  color: #b2b2b2;
  font-family: Arimo, sans-serif;
  font-weight: normal;
  font-size: 24px;
}

.form__input::placeholder {
  transition: 0.5s;
  color: #b2b2b2;
  font-family: Arimo, sans-serif;
  font-weight: normal;
  font-size: 24px;
}

.form__input:focus::-moz-placeholder {
  font-size: 18px; /* Размер шрифта */
  transform: translateY(-20px); /* Сдвигаем подсказку вверх */
}

.form__input:focus::placeholder {
  font-size: 18px; /* Размер шрифта */
  transform: translateY(-20px); /* Сдвигаем подсказку вверх */
}

.form__input:focus:invalid {
  border: 2px solid #ffb493;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px #ffb493;
}

.form__button {
  cursor: pointer;
  background: #38bcea;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  height: 71px;
  padding: 20px 34px;
  font-family: Arimo, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 130.49%;
}

.main__block-9 {
  margin: 135px 0 0 0;
  position: relative;
}

.block-9__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 123px;
  background: linear-gradient(84.27deg, #E6F2FF 0%, #FAF1ED 100%);
  width: 100%;
}

.block-9__pictures {
  position: absolute;
  right: 50px;
  bottom: -4px;
}
@media screen and (max-width: 1759px) {
  .block-9__pictures {
    display: none;
  }
}

.block-9 {
  height: 563px;
  width: 100%;
  display: flex;
}
.block-9__title {
  font-size: 48px;
  line-height: 58px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  color: #12354b;
  width: 1001px;
}
.block-9__text {
  font-family: Arimo, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 130.49%;
  /* or 31px */
  color: #262626;
  width: 599px;
}
.block-9__phone-link {
  color: #0079ff;
  text-decoration: none;
}
.block-9__phone-link:hover {
  text-decoration: underline;
}
.block-9__approval {
  font-family: Arimo, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 130.49%;
  /* or 23px */
  color: #737373;
}
.block-9__approval-link {
  color: #737373;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.main__block-3 {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 20% 1fr;
}

.block-3__cards {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15%;
  grid-template-rows: 40% 40%;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  row-gap: 2vh;
  padding-left: 10vw;
}
.block-3__cards .cards__item {
  background-color: FBFBFB;
  display: grid;
  grid-template-columns: 65%;
  grid-template-rows: 50% 1fr;
  row-gap: 1vh;
  text-align: center;
  padding-left: 3vw;
}
.block-3__cards .cell_6 {
  grid-column: 2/3;
}

.item__img {
  height: 13vh;
  padding-top: 2vh;
}/*# sourceMappingURL=style.css.map */