@import './vars';
@import './fonts';
@import './header';
@import './block_2_4';
@import './block_3_6';
@import './block_5_9';
@import './block_7_8';
@import './footer';

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}